language: java
jdk:
- oraclejdk8
addons:
  apt:
    packages:
    - wget
script:
- mvn clean install -q
after_success:
- "./travis_after_success.sh"
env:
  global:
  - secure: pyDpb35W6hP4Tuq3044Nosn4XuIvhuU3AT+Q+u1agm22netNYycU5xA10NsMZ0uPf2vi3AKf+Zco7TJ96UiSIKxvnZULfIYxMfJqSBcwCd+apGYGMRdGzZBfYg8Fcob+8njY73xjjVRBbEdrD5aWBmmWnGwpp2FzSnlgixw8blc=
  - secure: IEdlKWvA+TO5Yfll8pBXwcYB9n4PK/286wVQXhRfPfjydjhbXnnQX7YPQJLRiqtRDc7+hmBkacYu6eHRafx4g+gYZGfnCxE40WrNC1aOvOx4h26TdhBBNGyBvHazs+zBmlJ8gj9b9sq9olD+t1a9MRO1Exwy3bEUGWLFQFIWriA=
